.wrapper {
  position: relative;
  background-image: url('../../assets/img/headerBG.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 573px;
}

.content {
  margin: 0 auto;
  padding: 160px 10px 0;
  max-width: 600px;
  text-align: left;
  color: white;
}

@media (max-width: 1200px) {
  .content {
    padding-top: 110px;
  }
  .wrapper {
    height: 443px;
  }
}

@media (max-width: 992px) {
  .content {
    padding-top: 70px;
  }
  .wrapper {
    height: 353px;
  }
}

@media (max-width: 767px) {
  .content {
    padding-top: 40px;
  }
  .wrapper {
    height: 393px;
  }
  .contactItem {
    min-width: 250px;
  }
}

.contacts {
  list-style-type: none;
}

.content h4 {
  font-size: 36px;
}

.content p {
  padding: 15px 0;
  font-size: 18px;
}

.contactItem {
  display: flex;
  max-width: 69%;
  justify-content: space-between;
}

.contactName {
  font-weight: 600;
}